* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    padding: 0.5em;
    width: min-content;
    margin: auto;
}

.box{
    margin-top: 1.5em;
}

.platform {
    display: flex;
    justify-content: center;
}

.block {
    height: 60px;
    width: 60px;
    
}

.first {
    background-color: black;
}

.second {
    background-color: red;
}